*
!.gitignore
!README.md
!UNLICENSE

!flake.nix
!flake.lock

# nixos config
!system/
!system/**/
!system/**/*.nix

# per-host config
!hosts/
!hosts/**/
!hosts/**/*.nix

# home-manager config
!home/
!home/**/
!home/**/*.nix
# linked neovim
!home/**/nvim/**/*.lua
# linked quickshell
!home/**/qs/**/*.qml
