$text: #cdd6f4;

$base: #1e1e2e;
$base-transparent: rgba(#1e1e2e, 0.625);

$surface: #313244;
$surface1: #45475a;
$overlay: #6c7086;
$subtext: #a6adc8;

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

$gray: $overlay;
$accent: $blue;

* {
  all: unset;
  transition: 125ms;
}

.bar {
  background: $base;
  color: $text;

  font:
    16px "Inter Medium",
    "CommitMono Nerd Font",
    "sans";

  margin: 0.25rem 0;
}

.layer {
  background: $surface;
  border-radius: 0.5rem;
  margin: 0 0.25rem;
  color: $accent;

  label {
    padding: 0 0.25rem;
  }
}

.hover:hover {
  background: $surface1;
}

.clock:hover {
  background: red;
}

.volume_muted {
  color: $gray;
}

.workspaces {
  * {
    margin: 0.625rem 0.25rem;
    border-radius: 2rem;

    background: $surface1;
    padding: 0 0.75rem;
  }

  *:hover,
  .used:hover {
    background: $accent;
  }

  .active {
    background: $accent;
    padding: 0 1.75rem;
  }

  .used {
    background: $gray;
    padding: 0 1rem;
  }
}

tooltip {
  background: $surface;
  color: $text;

  font-size: 0.75rem;

  border: 0.05rem $base solid;
  border-radius: 0.5rem;

  box-shadow: none;

  decoration {
    box-shadow: none;
    border-radius: 0.5rem;
  }
}

.systray {
  > widget {
    > image {
      margin: 0 0.125rem;
    }

    .popup menu {
      border: 0.0625em $accent solid;
      padding: 0.25em;
      border-radius: 0.5em;
      color: $text;
      background: $surface;
      font-size: 0.75em;

      menuitem {
        padding: 0.375em 0;
        border-radius: inherit;

        &:hover {
          background: $surface1;
        }

        &:disabled {
          color: $gray;
        }
      }

      separator {
        background: $surface1;
        margin: 0.25em 0;
        min-height: 0.0625em;
      }

      check,
      arrow,
      radio {
        min-width: 1em;
        min-height: 1em;
        padding: 0 0.5em;
      }

      check {
        -gtk-icon-source: -gtk-icontheme("checkbox-symbolic");
        color: $gray;

        &:checked {
          color: $accent;
          -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
        }
      }

      arrow {
        color: $text;

        &.top {
          -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
        }

        &.bottom {
          -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
        }

        &.left {
          -gtk-icon-source: -gtk-icontheme("pan-home-symbolic");
        }

        &.right {
          -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
        }
      }

      radio {
        -gtk-icon-source: -gtk-icontheme("radio-symbolic");

        &:hover {
          -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
        }
      }
    }
  }
}
