$background-0: #1e0e25;
$background-1: #37263f;
$background-2: #523f5a;
$background-3: #6e5b77;

$foreground-0: #cab5d4;
$foreground-1: #aa95b4;
$foreground-2: #8c7895;
$foreground-3: #6e5b77;

$accent-1: #ff9ea6;
$accent-2: #f5ae39;
$accent-3: #92d36c;
$accent-4: #00d8d9;
$accent-5: #91c1ff;
$accent-6: #e19fff;

$base: $background-0;
$surface: $background-1;
$surface1: $background-2;
$overlay: $background-3;
$subtle: $foreground-2;
$subtext: $foreground-1;
$text: $foreground-0;

$accent: $accent-1;

$radius: 0.5rem;
$border-style: solid 0.0625rem $background-3;

* {
  // all: unset;
  font: unset;
  background: unset;
  border-radius: unset;
  border: unset;
  box-shadow: none;
  color: unset;
  margin: unset;
  padding: unset;
  min-height: unset;
  min-width: unset;

  transition: 125ms;
}

.bar {
  background: $base;
  color: $text;

  font:
    16px "Inter Medium",
    "CommitMono Nerd Font",
    "sans";

  margin: 0.25em 0;
}

.layer {
  background: $surface;
  border-radius: $radius;
  margin: 0 0.25em;
  color: $accent;

  label {
    padding: 0 0.25em;
  }
}

.hover:hover {
  background: $surface1;
}

.volume-muted {
  color: $foreground-3;
}

.network {
  label {
    padding-right: 0.5em;
  }
}

.network-down {
  color: $foreground-3;
}

.workspaces {
  * {
    margin: 0.625em 0.25em;
    border-radius: 2em;

    background: $background-2;
    padding: 0 0.75em;
  }

  *:hover,
  .used:hover {
    background: $accent;
  }

  .active {
    background: $accent;
    padding: 0 1.75em;
  }

  .used {
    background: $foreground-3;
    padding: 0 1em;
  }
}

.systray {
  padding: 0 0.125em;

  > widget > image {
    padding: 0 0.125em;
  }
}

tooltip {
  background: $surface;
  color: $text;
  border-radius: $radius;
  border: $border-style;
  font-size: 0.825em;
}

.popup menu {
  border: $border-style;
  padding: 0.5em;
  border-radius: $radius;
  color: $text;
  background: $surface;
  font-size: 0.75rem;

  menuitem {
    border-radius: inherit;

    > label {
      padding: 0.375em 0.5em;
    }

    &:hover {
      background: $surface1;
    }

    &:disabled {
      color: $foreground-3;
    }
  }

  separator {
    background: $surface1;
    margin: 0.25em 0;
    min-height: 0.0625em;
  }

  check,
  arrow,
  radio {
    min-width: 1.5em;
    min-height: 1.5em;
  }

  check {
    border-radius: 50%;
    background: $background-3;

    &:checked {
      background: $accent;
      color: $base;
    }
  }

  arrow {
    color: $text;
  }
}
