$bg0: #{"@window_bg_color"};
$bg1: #{"@card_bg_color"};
$bg2: #{"@scrollbar_outline_color"};
$fg: #{"@window_fg_color"};
$accent: #{"@blue_1"};
$warning: #{"@red_1"};

* {
  transition: 125ms;
}

.bar {
  background: $bg0;
  color: $fg;
  font: 18px sans-serif;
  margin: 0.25em 0;
}

.niri {
  * {
    padding: unset;
    margin: 0.125em 0;
    min-width: 1em;
    min-height: 1em;
    border-radius: 1em;
    background: $bg1;
  }

  .has-window {
    background: $bg2;
    min-height: 1.5em;
  }

  .focused {
    background: $accent;
    min-height: 2.5em;
  }

  *:hover {
    background: $accent;
  }
}

.muted {
  color: $bg2;
}

.warning {
  color: $warning;
}

.popup {
  font-size: 0.625em;

  * {
    font-size: inherit;
  }
}

tooltip {
  font-size: 0.875em;
}
