$base00: #0b0b0b; // background
$base01: #1c1c1c; // status
$base02: #2e2e2e; // selection
$base03: #414141; // comment
$base04: #a6a6a6; // status fg
$base05: #bebebe; // text
$base06: #d6d6d6; // bright
$base07: #eeeeee; // brightest
$base08: #c87180; // red
$base09: #c67854; // orange
$base0A: #b08836; // yellow
$base0B: #719e58; // green
$base0C: #24a592; // cyan
$base0D: #2d9dc1; // blue
$base0E: #b177b4; // purple
$base0F: #c0729c; // pink

$accent: $base0D;

$radius: 6px;
$border-style: solid 1px $base02;
$transition-duration: 125ms;

* {
  font: unset;
  background: unset;
  border-radius: unset;
  border: unset;
  box-shadow: none;
  color: unset;
  margin: unset;
  padding: unset;
  min-height: unset;
  min-width: unset;

  transition: $transition-duration;
}

.bar {
  background: $base00;

  color: $base05;

  font: 16px "sans-serif";

  margin: 4px 0;
}

.layer {
  border-radius: $radius;
  margin: 0 6px;

  label {
    padding: 0 4px;
  }
}

.hover:hover {
  background: $base02;
}

.volume-muted {
  color: $base03;
}

.network-down {
  color: $base03;
}

.workspaces {
  * {
    margin: 10px 4px;
    border-radius: $radius;

    background: $base02;
    padding: 0 8px;
  }

  *:hover,
  .used:hover {
    background: $accent;
  }

  .active {
    background: $accent;
    padding: 0 20px;
  }

  .used {
    background: $base03;
    padding: 0 12px;
  }
}

.systray {
  padding: 0 6px;

  > widget > image {
    padding: 0 2px;
  }
}

tooltip {
  background: $base01;
  color: $base05;
  border-radius: $radius;
  border: $border-style;
  font-size: 0.75rem;
}

.popup menu {
  background: $base01;
  color: $base05;
  font-size: 0.75rem;

  padding: 10px;
  border: $border-style;
  border-radius: $radius;

  menuitem {
    border-radius: inherit;

    label {
      padding: 4px 8px;
    }

    &:hover {
      background: $base02;
    }

    &:disabled {
      color: $base03;
    }
  }

  separator {
    background: $base02;
    margin: 2px 0;
    min-height: 1px;
  }

  check,
  arrow,
  radio {
    min-width: 16px;
    min-height: 16px;
  }

  check {
    border-radius: 50%;
    background: $base03;

    &:checked {
      background: $accent;
      color: $base00;
    }
  }

  arrow {
    color: $base05;
  }
}
