$base00: #161616; // background
$base01: #282828; // status
$base02: #3a3a3a; // selection
$base03: #555555; // comment
$base04: #aeaeae; // status fg
$base05: #cecece; // text
$base06: #dedede; // bright
$base07: #eeeeee; // brightest
$base08: #e69494; // red
$base09: #e39a78; // orange
$base0A: #c6ab60; // yellow
$base0B: #acb66a; // green
$base0C: #5cc3b0; // cyan
$base0D: #60bbde; // blue
$base0E: #c69bda; // purple
$base0F: #e293ab; // pink

$accent: $base0D;

$radius: 0.5rem;
$border-style: solid 0.0625rem $base02;

* {
  // all: unset;
  font: unset;
  background: unset;
  border-radius: unset;
  border: unset;
  box-shadow: none;
  color: unset;
  margin: unset;
  padding: unset;
  min-height: unset;
  min-width: unset;

  transition: 125ms;
}

.bar {
  background: $base00;
  color: $base05;

  font: 16px "sans-serif";

  margin: 0.25em 0;
}

.layer {
  background: $base01;
  border-radius: $radius;
  margin: 0 0.25em;

  label {
    padding: 0 0.25em;
  }
}

.hover:hover {
  background: $base02;
}

.hovertext:hover {
  color: $accent;
}

.volume-muted {
  color: $base03;
}

.network {
  label {
    padding-right: 0.5em;
  }
}

.network-down {
  color: $base03;
}

.workspaces {
  * {
    margin: 0.625em 0.25em;
    border-radius: 2em;

    background: $base02;
    padding: 0 0.625em;
  }

  *:hover,
  .used:hover {
    background: $accent;
  }

  .active {
    background: $accent;
    padding: 0 1.75em;
  }

  .used {
    background: $base03;
    padding: 0 1em;
  }
}

.systray {
  padding: 0 0.125em;

  > widget > image {
    padding: 0 0.125em;
  }
}

tooltip {
  background: $base01;
  color: $base05;
  border-radius: $radius;
  border: $border-style;
  font-size: 0.825em;
}

.popup menu {
  background: $base01;
  color: $base05;
  font-size: 0.75rem;

  padding: 0.5em;
  border: $border-style;
  border-radius: $radius;

  menuitem {
    border-radius: inherit;

    label {
      padding: 0.375em 0.5em;
    }

    &:hover {
      background: $base02;
    }

    &:disabled {
      color: $base03;
    }
  }

  separator {
    background: $base02;
    margin: 0.25em 0;
    min-height: 0.0625em;
  }

  check,
  arrow,
  radio {
    min-width: 1.5em;
    min-height: 1.5em;
  }

  check {
    border-radius: 50%;
    background: $base03;

    &:checked {
      background: $accent;
      color: $base00;
    }
  }

  arrow {
    color: $base05;
  }
}
