* {
  background-color: #1d2021;
  text-color: #d4be98;
  spacing: 0;
  padding: 2 1;
}

mainbox {

}

element-icon {
  size: 2ch;
}

element selected {
  background-color: #3c3836;
}

/* vim: set ft=css: */
